@using RazorDemos.Models;
@model Person
<html>
<head>
    <title>Person Details</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body style="font-family:Arial">

    <div class="page-content">
        <h1>The Name Doesn't Exist</h1>
    </div>
</body>
</html>